{% extends "bootstrap/base.html" %}
{% block title %}Health Monitoring System{% endblock %}
{% block styles %}
{{super()}}
<link rel="shortcut icon" href="{{url_for('static',filename='a.ico')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css_file_user_deta.css')}}">
{% endblock %}
{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{url_for('static',filename='a.ico')}}">
{% endblock %}

{% block content %}

 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Home</a>
            <a class="navbar-brand" href="/signup">Signup</a>
             <a class="navbar-brand" href="/contacts">Contact</a>

        </div>


          <form class="navbar-form navbar-right" action="/login" method="post">
            <div class="form-group">
              <input name='username' type="email" placeholder="Email" class="form-control" required>
            </div>
            <div class="form-group">
              <input name="password" type="password" placeholder="Password" class="form-control" minlength="8" maxlength="80" required>
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>


{% endblock %}