{% extends "bootstrap/base.html" %}
{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{url_for('static',filename='icon.ico')}}">
<link rel="stylesheet" href="{{url_for('static',filename='ENTRY_POINT_2.css')}}"
{% block title %}Health Monitoring System{% endblock %}
{% endblock %}
{% block body %}

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
             <a class="navbar-brand" href="/about">About us</a>
             <a class="navbar-brand" href="/signup">Signup</a>
             <a class="navbar-brand" href="/contacts">Contact</a>

        </div>


          <form class="navbar-form navbar-right" action="/login" method="post">
            <div class="form-group">
              <input name='username' type="email" placeholder="Email" class="form-control" required>
            </div>
            <div class="form-group">
              <input name="password" type="password" placeholder="Password" class="form-control" minlength="8" maxlength="80" required>
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Health Monitoring System</h1>
        <p>This is your health monitoring system</p>
        <p><a class="btn btn-primary btn-lg" href="/guide" role="button">Guide &raquo;</a></p>
      </div>
    </div>
<div id="main">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            <h2>Health and Fitness </h2>
          <p></p>
          <p><a class="btn btn-default" href="http://www.health.com/fitness" role="button"><img src="/static/images/link1.jpg" class="img-rounded" width="304" height="236"></a></p>
        </div>
        <div class="col-md-4">
          <h2>Check Your BMI</h2>
          <p></p>
          <p><a class="btn btn-default" href="" role="button"><img src="/static/images/link2.png" class="img-rounded" width="304" height="236"></a></p>
       </div>
        <div class="col-md-4">
          <h2>About Diet</h2>
          <p></p>
          <p><a class="btn btn-default" href="http://www.healthline.com/health/balanced-diet#overview1" role="button"><img src="/static/images/link3.jpg" class="img-rounded" width="304" height="236"></a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Find Nearby Hospitals</h2>
          <p> </p>
          <p><a class="btn btn-default" href="#" role="button"><img src="/static/images/link4.jpg" class="img-rounded" width="304" height="236"></a></p>
        </div>
        <div class="col-md-4">
          <h2>About Heart Attack</h2>
          <p></p>
          <p><a class="btn btn-default" href="http://www.mayoclinic.org/diseases-conditions/heart-attack/basics/symptoms/con-20019520" role="button"><img src="/static/images/link5.jpg" class="img-rounded" width="304" height="236"></a></p>
       </div>
        <div class="col-md-4">
          <h2>About Sleep</h2>
          <p></p>
          <p><a class="btn btn-default" href="https://www.nhlbi.nih.gov/health/health-topics/topics/sdd/why" role="button"><img src="/static/images/link6.jpg" class="img-rounded" width="304" height="236"></a></p>
        </div>
      </div>
       <div class="row">

      </div>
    </div>
      <hr>

      <footer>
        <p>&copy; 2017 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->



  </body>


{% endblock %}
